# Frontend
node_modules/
dist/
.env

# Backend
app/node_modules/
app/dist/

# Python Microservices
microservices/venv/
microservices/.env/
microservices/dist/

# Data & Storage
storage/
chroma_db/
stitch_vector_vault_rag_platform/